body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --blue_a100: #82B1FF;
    --blue_a200: #448AFF;
    --blue_a400: #2979FF;
    --blue_a700: #2962FF;

    --red_a100: #FF8A80;
    --red_a200: #FF5252;
    --red_a400: #FF1744;
    --red_a700: #D50000;
}

.popRoot {
    display: none;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity:0.6;
}

.popModule {
    display: none;
    background-color: black;
    z-index: 11;
    width: 540px;
    height: 632px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.popModule .title {
    width: calc(100% - 8px);
    height: 32px;
    line-height: 32px;
    float: left;
    margin-left: 8px;
    background-color: black;
    border-bottom: 1px solid darkgray;
    color: var(--blue_a100);
}

.popModule .title .closePop {
    height: 32px;
    line-height: 32px;
    float: right;
    margin-right: 5px;
    color: var(--blue_a100);
    background-color: black;
    border-bottom: 1px solid darkgray;
}

.popModule .close a {
    text-decoration: none;
    color: var(--blue_a100);
}

.popContent {
    width: calc(100% - 32px);
    height: calc(100% - 64px);
    margin-top: 48px;
    margin-left: 16px;
    margin-right: 16px;
}

.table-common {
    border: none;
    width: 100%;
}

.table-common tr {
    height: 40px;
    line-height: 40px;
}

.table-common td {
    font-size: 1.2em;
}

.common-pt {
    color: var(--blue_a400);
}

.commmon-text {
    width: 100%;
    height: 36px;
    border: 1px solid var(--blue_a400);
    border-radius: 5px;
}

.commmon-text:focus {
    outline: none;
}

.commmon-text:read-only {
    color: gray;
}

.btn-common {
    width: 120px;
    height: 36px;
    border: 1px solid var(--blue_a400);
    background: var(--blue_a400);
    color: white;
    border-radius: 5px;
}

.btn-deep {
    width: 120px;
    height: 36px;
    border: 1px solid var(--blue_a700);
    background: var(--blue_a700);
    color: white;
    border-radius: 5px;
}

.btn-dang {
    width: 120px;
    height: 36px;
    border: 1px solid var(--red_a400);
    background: var(--red_a400);
    color: white;
    border-radius: 5px;
}

.div-line {
    width: 100%;
    height: 1px;
    background: lightgray;
}

.div-bottom-right {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    line-height: 40px;
    text-align: right;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.div-usage-detail-pane {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.div-usage-detail-line {
    width: 100%;
    height: 28px;
    line-height: 28px;
}

.span-light {
    color: #CCEFFC;
    font-size: 0.8em;
}